{% if env("ENV") != 'stg' %}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-issuer-token
  namespace: cert-manager
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: gcp-secret-manager
  target:
    deletionPolicy: Retain
    name: cloudflare-issuer-token
  data:
  - secretKey: api-token
    remoteRef:
      key: cloudflare-issuer-token
---
{% endif %}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-issuer-token-zamp
  namespace: cert-manager
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: gcp-secret-manager
  target:
    deletionPolicy: Retain
    name: cloudflare-issuer-token-zamp
  data:
  - secretKey: api-token
    remoteRef:
      key: cloudflare-issuer-token-zamp